<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./css/styles.css">
</head>

<body>
	<form>
		<input type="text" name="busca" placeholder="Qual pizza você procura?" autocomplete="off">
		<button type="submit">Buscar</button>
	</form>
	<main>
		<!-- Tornar dinâmico a exibição das pizzas! -->
		<!-- Utilizando o EJS -->

		<!-- Abrir a tag <% %> para inserir lógica de JS -->
		<% for (let pizza of pizzas) { %>
		<article>
			<img src=<%=pizza.img%> alt="Pizza de <%=pizza.nome%>">
			<a href="/pizza/<%=pizza.id%>"> Ver Mais</a>
			<!-- <button>+ Add</button> -->
			<div><%=pizza.nome%></div>
			<span><%=pizza.preco.toLocaleString('pt-br', { minimumFractionDigits: 2 ,
				style: 'currency', currency: 'BRL' }) %></span>
		</article>
		<!-- Abrir a tag <% %> para fechar a lógica de JS -->
		<% } %>
	</main>
</body>

</html>